<div>
  <img class="circle" src="<%= image %>">
  <div class="title"><%= name %></div>
  <div class="email"><%= email%></p>
  <button id='addFriend' class="btn hide secondary-content green waves-effect waves-light"> Add Friend </button>
  <button id='waitingApproval' class="btn hide secondary-content indigo darken-4"> Waiting Approval</button>
  <button id='acceptRequest' class="btn hide secondary-content blue waves-effect waves-light"> Accept Request</button>
  <span id='friendDisclaimer' class="new badge hide"> <%= name %> Is your friend!</span>
</div>